﻿@model Euphoria.Models.LoginViewModel

@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    ViewBag.Title = "Login";
}

@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

@section page {
<div class="StandardPage">
    <video id="VideoBG" muted loop autoplay>
        <source src="~/Images/Background.mp4" type="video/mp4">
    </video>
</div>
<div class="PageContainer">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "StandardFormBox Account", role = "form" }))
    {
        @AntiForgery.GetHtml()
        <h3>Welcome back!</h3>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <fieldset>
            <ol>
                <li class="username">
                    @Html.LabelFor(m => m.Username)
                    @Html.TextBoxFor(m => m.Username, new { @id = "username" })
                    @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                </li>
                <li class="password">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @id = "password", @class = "loginPassword" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    <p class="Subtitle">
                        <a href="~/Account/ForgotPassword">Forgot your password?</a>
                    </p>
                </li>
                <li class="remember-me">
                    @Html.CheckBoxFor(m => m.RememberMe, new { @id = "rememberMe" })
                    @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                </li>
            </ol>
            <input type="submit" value="Log in" />
            <p class="Subtitle">
                No account? No problem! Click <a href="~/Account/Register">here</a> to register.
            </p>
        </fieldset>
    }
</div>
<!--
<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    //RenderPage("~/Account/_ExternalLoginsList.cshtml")
</section>
-->
}