﻿@using Microsoft.AspNet.Identity;
@using Euphoria.Models;

@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    ViewBag.Title = "Applications";
    ApplicationUserManager UserManager = (ApplicationUserManager)ViewData["UserManager"];
}

@section page {
    <div class="CenterPageContainer">
        <div class="StandardPageBox ProfileContent">
            <div class="blur"></div>
            <div class="BoxHeader"><div class="invert"></div><div class="HeaderText">Applications</div></div>
            <div class="Content WithHeader">
                @Html.Action("GetAll", "Applications")
            </div>
        </div>
    </div>
    <!--
    <section class="social" id="socialLoginForm">
        <h2>Use another service to log in.</h2>
        //RenderPage("~/Account/_ExternalLoginsList.cshtml")
    </section>
    -->
}

@section scripts {
    <script src="~/Scripts/jquery.timeago.js" type="text/javascript"></script>
    <script src="~/Scripts/locales/jquery.timeago.en.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $.timeago.settings.cutoff = 1000 * 60 * 60 * 24;
            $.timeago.settings.locale = 'en';
            $("time.timeago").timeago();
        });
    </script>
}