﻿@using System;
@using System.Net;
@using System.Net.Http;
@using System.Net.Http.Headers;
@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    ViewBag.Title = "Oops!";
}

@section page {
    <div class="GuildApply">
        <img id="ApplyBunny2" src="~/Images/Bunny2.png" />
        <img id="ApplyBunny1" src="~/Images/Bunny1.png" />
        <h2 id="applyConfirmStart">Looks like something went wrong!</h2>
        <h3>You can go back to the page you were on and try later.</h3>
        <h3 id="applyConfirmEnd">Don't forget the website is still under construction, let Sumit know of any issues you run into!</h3>
    </div>
}
@section Scripts {
    <script type="text/javascript" src="~/Scripts/jquery.mousewheel.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function ($) {
            $(function () {
                var $target = $('.GuildApply');
                $("body").mousewheel(function (event, delta) {
                    $target.scrollTop($target.scrollTop() - (delta * 50));
                    event.preventDefault();
                });
            });
        });
        function auto_grow(element) {
            element.style.height = "5px";
            element.style.height = (element.scrollHeight) + "px";
        }
    </script>
}