﻿@using Microsoft.AspNet.Identity;
@using Euphoria.Models;

@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    ViewBag.Title = "Home";
    ApplicationUserManager UserManager = (ApplicationUserManager)ViewData["UserManager"];
}

@section page {
<div class="PageContainer">
    <div class="StandardPageBox MainContent">
        <div class="blur"></div>
        <div class="BoxHeader"><div class="invert"></div><div class="HeaderText">News</div></div>
        <div class="Content WithHeader">
            @Html.Action("Get", "News")
        </div>
    </div>

    @Html.Partial("_SideMenu")

    @if (UserManager.IsInRole(User.Identity.GetUserId(), "Admin"))
    {
        @Html.Action("Get", "Applications")
    }
</div>
}


@section scripts {
    <script src="~/Scripts/jquery.timeago.js" type="text/javascript"></script>
    <script src="~/Scripts/locales/jquery.timeago.en.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $.timeago.settings.cutoff = 1000 * 60 * 60 * 24;
            $.timeago.settings.locale = 'en';
            $("time.timeago").timeago();
            tippy('.Control', {
                arrow: true,
                placement: 'top'
            });
        });
    </script>
}