﻿@model Euphoria.Models.WallPostViewModel
@using Euphoria.Models

<div id="PostForm">
    @using (Html.BeginForm("AddComment", "User", FormMethod.Post, new { role = "form", encType = "multipart/form-data", id="CommentForm" }))
    {
        @AntiForgery.GetHtml()
        @Html.HiddenFor(m => m.ProfileID, new { id = "ProfileID" })
        @Html.HiddenFor(m => m.UserID)
        @Html.TextAreaFor(m => m.PostContent, new { id = "Comment", maxlength = "5000", minlength = "10"})
        <input type="submit" value="Comment" class="CommentButton" />
    }
</div>