﻿@model Euphoria.Models.UserProfileViewModel

@using Microsoft.AspNet.Identity;
@using Euphoria.Models;

@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    ViewBag.Title = Model.UserName + "'s Profile";
    ApplicationUserManager UserManager = (ApplicationUserManager)ViewData["UserManager"];
    string visitorID = User.Identity.GetUserId();
    bool isOwn = false;
    if (visitorID == Model.UserID)
    {
        isOwn = true;
    }
}

@section page {
    <div class="ProfilePageContainer">
        <div class="AvatarFull" style="background-image: url('/@(String.IsNullOrEmpty(Model.ProfilePicture) ? "Images/blank.jpg" : Model.ProfilePicture)')"></div>
        <div class="StandardPageBox ProfileContent">
            <div class="blur"></div>
            <div class="Content">
                <div class="ProfileBadges"></div>
                <div class="ProfileButtons">
                    @if (isOwn)
                    {
                        <button onclick="location.href='@Url.Action("Manage", "Account")'" class="ProfileButton">
                            <i class='far fa-edit'></i> Edit Profile
                        </button>
                    }
                    else
                    {
                        if (Model.FriendStatus == "NONE")
                        {
                            <button id="AddFriendButton" class="ProfileButton" onclick="AddFriend()"><i class="fas fa-user-plus"></i> Add Friend</button>
                        }
                        else if (Model.FriendStatus == "REQUESTED")
                        {
                            <button id="AddFriendButton" class="ProfileButton" disabled><i class='fas fa-check'></i> Request Sent</button>
                        }
                        else if (Model.FriendStatus == "ACCEPT")
                        {
                            <button id="AddFriendButton" class="ProfileButton"><i class="fas fa-user-plus"></i> Accept Request</button>
                        }
                        else if (Model.FriendStatus == "FRIENDS")
                        {
                            <button id="AddFriendButton" class="ProfileButton" disabled><i class='fas fa-check'></i> Friends</button>
                        }
                    }
                </div>
                <div class="ProfileBox">
                    <div class="ProfileName">@Model.UserName</div>
                    @if (!String.IsNullOrEmpty(Model.UserBio))
                    {
                        <div class="UserBio">
                            <h1 class="NewsHeader">About Me</h1>
                            @Html.Raw(Model.UserBio)
                        </div>
                    }
                    @{Html.RenderAction("GetComments", "User", new { userid = Model.UserID });}
                    @if (!isOwn)
                    {
                        @Html.Partial("AddComment", new WallPostViewModel { UserID = visitorID, ProfileID = Model.UserID })
                    }
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    <script src="~/Scripts/jquery.timeago.js" type="text/javascript"></script>
    <script src="~/Scripts/locales/jquery.timeago.en.js" type="text/javascript"></script>
    <script src="~/Scripts/textboxio.js"></script>
    <script>
        $(document).ready(function () {
            var config = {
                css: {
                    documentStyles: 'body { color: white; }',
                    styles: [
                        { rule: 'p' },
                        { rule: 'h1.Header', text: 'Header' }
                    ],
                    showDocumentStyles: false
                },
                codeview: {
                    enabled: false,
                    showButton: false
                }
            };
            $("#ProfileID").val("@Model.UserID");
            var textareaEditor = textboxio.replace('#Comment', config);
            $.timeago.settings.cutoff = 1000 * 60 * 60 * 24;
            $.timeago.settings.locale = 'en';
            $("time.timeago").timeago();
            tippy('.Control', {
                arrow: true,
                placement: 'top'
            });
        });
        function AddFriend() {
            var FriendRequestAJAX = {
                UserID1: "@visitorID",
                UserID2: "@Model.UserID"
            };
            $.ajax({
                type: "POST",
                data: JSON.stringify(FriendRequestAJAX),
                url: "/User/AddFriend",
                contentType: "application/json",
                error: function (XMLHttpRequest, textStatus, errorThrown) { },
                success: function (dataList) {
                    $("#AddFriendButton").attr("disabled", "disabled");
                    $("#AddFriendButton").html("<i class='fas fa-check'></i> Request Sent");
                }
            });
        }
    </script>
}