﻿@using Microsoft.AspNet.Identity;
@using Euphoria.Models;
@using System.Xml.Linq;
@model List<Euphoria.Models.WallPostViewModel>

@if (Model.Any())
{
    foreach (var comment in Model)
    {
        <div class="Comment" id="Post@(comment.PostID)">
            <div class="AvatarSection RegularCommentAvatarSection">
                <div class="AvatarSmall" style="background-image: url('/@(String.IsNullOrEmpty(comment.AuthorPicture) ? "Images/blank.jpg" : comment.AuthorPicture)')"></div>
            </div>
            <div id="CommentContentContainer@(comment.PostID)" class="RegularCommentContent CommentContent">
                <div class="CommentContentStyle">
                    <div class="CommentHeader">
                        <span class="CommentAuthor">
                            <a href="">@comment.Author</a>
                        </span>
                        <span class="CommentDate">
                            <time class="timeago" datetime="@((comment.PostDate ?? DateTime.Now).ToLocalTime())">@((comment.PostDate ?? DateTime.Now).ToLocalTime().ToString("MMMM dd, yyyy"))</time>
                        </span>
                    </div>
                    <div>@Html.Raw(comment.PostContent)</div>
                    <div class="CommentFooter">
                        <span class="CommentFooterMetaData"></span>
                    </div>
                </div>
            </div>
        </div>
    }
}