﻿@import url('https://fonts.googleapis.com/css?family=Titillium+Web|Kaushan+Script|Acme|Viga');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* -------------------------------- Primary style -------------------------------- */
html * {
    -webkit-font-smoothing: antialiased;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    /* you need to set this to assign to the main element a min height of 100% */
    height: 100%;
}

body {
    font-size: 100%;
    font-family: "Titillium Web", sans-serif;
    color: black;
    background-color: #1a1a1a;
}

a {
    color: #3eaaea;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.Content {
    font-size: 14px;
}

/*
##############
# Navigation #
##############
*/

.cd-img-replace {
    /* replace text with a background-image */
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

.overflow-hidden {
    overflow: hidden;
}

.cd-main-content {
    /* set a min-height and a z-index to be sure that the main element completely covers the lateral menu */
    min-height: 100%;
    position: relative;
    z-index: 2;
    padding-top: 100px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.cd-main-content.lateral-menu-is-open {
    /* translate to show the lateral menu - all content needs to be put in the .cd-main-content to translate*/
    -webkit-transform: translateX(-260px);
    -moz-transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    -o-transform: translateX(-260px);
    transform: translateX(-260px);
}

@media only screen and (min-width: 768px) {
    .cd-main-content {
        padding-top: 100px;
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background: black;
    z-index: 10001;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#cd-logo {
    height: 75px;
    -webkit-transition: -webkit-transform .4s 0s, visibility 0s .4s;
    -moz-transition: -moz-transform .4s 0s, visibility 0s .4s;
    transition: transform .4s 0s, visibility 0s .4s;
    font-family: 'Acme', sans-serif;
    color: white;
    text-align: center;
}

header.lateral-menu-is-open {
    /* translate to show the lateral menu */
    -webkit-transform: translateX(-260px);
    -moz-transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    -o-transform: translateX(-260px);
    transform: translateX(-260px);
}

header.is-fixed {
    position: fixed;
}

@media only screen and (min-width: 768px) {
    header {
        height: 100px;
    }
}

#cd-logo {
    float: left;
    margin: 12px 0 0 20px;
    font-size: 13px;
}

    #cd-logo img {
        height: 60px;
    }

@media only screen and (min-width: 768px) {
    #cd-logo {
        margin: 12px 0 0 15px;
    }
}

#cd-top-nav {
    position: absolute;
    top: 0;
    right: 120px;
    height: 100%;
    display: none;
}

#cd-top-nav ul {
    height: 100%;
}

#cd-top-nav li {
    height: 100%;
    display: inline-block;
    padding: 34px 1em;
    transition: 0.4s;
}

#cd-top-nav a {
    display: inline-block;
    padding: .5em;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
}

    #cd-top-nav a.current {
        background-color: #3eaaea;
    }

    #cd-top-nav li:hover {
        background-color: #3eaaea;
    }

.no-touch #cd-top-nav a:hover {
    color: rgba(255, 255, 255, 0.7);
}

@media only screen and (min-width: 768px) {
    #cd-top-nav {
        display: block;
    }
}

#cd-menu-trigger {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    background-color: #303030;
}

#cd-menu-trigger .cd-menu-text {
    height: 100%;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 600;
    display: none;
}

#cd-menu-trigger .cd-menu-icon {
    /* this span is the central line in the menu menu */
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 18px;
    height: 2px;
    background-color: #FFF;
}

#cd-menu-trigger .cd-menu-icon::before, #cd-menu-trigger .cd-menu-icon:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: inherit;
    left: 0;
}

#cd-menu-trigger .cd-menu-icon::before {
    bottom: 5px;
}

#cd-menu-trigger .cd-menu-icon::after {
    top: 5px;
}

#cd-menu-trigger.is-clicked .cd-menu-icon {
    background-color: rgba(255, 255, 255, 0);
}

#cd-menu-trigger.is-clicked .cd-menu-icon::before, #cd-menu-trigger.is-clicked .cd-menu-icon::after {
    background-color: white;
}

#cd-menu-trigger.is-clicked .cd-menu-icon::before {
    bottom: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#cd-menu-trigger.is-clicked .cd-menu-icon::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media only screen and (min-width: 768px) {
    #cd-menu-trigger {
        width: 110px;
        padding-left: 1.25em;
    }

        #cd-menu-trigger .cd-menu-text {
            display: inline-block;
            line-height: 100px;
        }

        #cd-menu-trigger .cd-menu-icon {
            left: auto;
            right: 1.25em;
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
            transform: translateX(0);
        }
}

#cd-lateral-nav {
    position: fixed;
    height: 100%;
    right: 0;
    top: 0;
    visibility: hidden;
    /* the secondary navigation is covered by the main element */
    z-index: 1;
    width: 260px;
    background-color: black;
    overflow-y: auto;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-transform .4s 0s, visibility 0s .4s;
    -moz-transition: -moz-transform .4s 0s, visibility 0s .4s;
    transition: transform .4s 0s, visibility 0s .4s;
    /* this creates the subtle slide in animation of the navigation */
    -webkit-transform: translateX(80px);
    -moz-transform: translateX(80px);
    -ms-transform: translateX(80px);
    -o-transform: translateX(80px);
    transform: translateX(80px);
}

#cd-lateral-nav .cd-navigation {
    margin: 10px 0 16px;
}

#cd-lateral-nav .sub-menu {
    padding: 0 10px 20px 15px;
    display: none;
}

#cd-lateral-nav a {
    display: block;
    line-height: 2em;
    padding: 0 16px 0 32px;
    color: white;
}

#cd-lateral-nav footer {
    position: absolute;
    bottom: 10px;
    font-size: 12px;
    width: 100%;
    display: block;
    color: white;
    left: 0;
    right: 0;
    text-align: center;
}

#cd-lateral-nav a.current {
    background-color: #3a4a4d;
    color: #FFF;
}

.no-touch #cd-lateral-nav a:hover {
    color: #FFF;
}

@media only screen and (min-width: 768px) {
    #cd-lateral-nav .cd-navigation {
        margin: 20px 0;
    }
}

#cd-lateral-nav.lateral-menu-is-open {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
    -webkit-transition: -webkit-transform .4s 0s, visibility 0s 0s;
    -moz-transition: -moz-transform .4s 0s, visibility 0s 0s;
    transition: transform .4s 0s, visibility 0s 0s;
    /* smooth the scrolling on touch devices - webkit browsers */
    -webkit-overflow-scrolling: touch;
}
/* style menu items which have a submenu */
#cd-lateral-nav .item-has-children > a {
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
}

#cd-lateral-nav .item-has-children > a::after {
    content: '';
    display: block;
    height: 11px;
    width: 8px;
    position: absolute;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 1em;
    /*background: url("../Images/cd-arrow.svg") no-repeat center center;*/
    background-size: 8px 11px;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

#cd-lateral-nav .item-has-children > a.submenu-open::after {
    -webkit-transform: translateY(-50%) rotate(90deg);
    -moz-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
    -o-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg);
}

#cd-lateral-nav .socials {
    padding: 0 32px;
}

#cd-lateral-nav .socials:after {
    content: "";
    display: table;
    clear: both;
}

#cd-lateral-nav .socials a {
    height: 32px;
    width: 32px;
    float: left;
    padding: 0;
    /*background-image: url("../Images/cd-socials.svg");*/
    background-repeat: no-repeat;
    background-size: 128px 64px;
    background-color: #FFF;
    margin-right: .5em;
    border-radius: 0.25em;
}

#cd-lateral-nav .socials a.cd-twitter {
    background-position: 0 0;
}

#cd-lateral-nav .socials a.cd-github {
    background-position: -32px 0;
}

#cd-lateral-nav .socials a.cd-facebook {
    background-position: -64px 0;
}

#cd-lateral-nav .socials a.cd-google {
    background-position: -96px 0;
}

.no-touch #cd-lateral-nav .socials a:hover {
    background-color: black;
}

.no-touch #cd-lateral-nav .socials a:hover.cd-twitter {
    background-position: 0 -32px;
}

.no-touch #cd-lateral-nav .socials a:hover.cd-github {
    background-position: -32px -32px;
}

.no-touch #cd-lateral-nav .socials a:hover.cd-facebook {
    background-position: -64px -32px;
}

.no-touch #cd-lateral-nav .socials a:hover.cd-google {
    background-position: -96px -32px;
}

.menu-is-open {
    -webkit-transform: translateX(260px);
    -moz-transform: translateX(260px);
    -ms-transform: translateX(260px);
    -o-transform: translateX(260px);
    transform: translateX(260px);
}

/*
#############################
# General Main Page Styling #
#############################
*/

#clickMeRight {
    width: 100%;
    max-height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 99;
    display: none;
    pointer-events: none;
}

#clickMeLeft {
    width: 100%;
    max-height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 99;
    display: none;
    pointer-events: none;
}

.buttonWrap {
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #7289da;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.buttonWrap:hover {
    box-shadow: 0px 15px 20px rgba(114, 137, 218, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.discordButton {
    pointer-events: all;
}

.discordButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#divider {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url('../Images/MobileDivider.png');
    background-position: bottom center;
    z-index: 95;
    pointer-events: none;
}

#closeButton {
    position: absolute;
    top: 100px;
    right: 0;
    width: 50px;
    height: auto;
    display: block;
    z-index: 502;
    cursor: pointer;
    display: none;
}

@media only screen and (min-width: 0px) {
    .discordButton {
        width: 175px;
    }

    .buttonWrap {
        width: 175px;
        padding: 10px;
    }

    .buttonWrap img {
        width: 100px;
    }

    #discordBanner {
        padding-top: 5%;
        background-size: auto 110%;
    }

    #discordBanner h2 {
        font-size: 30px;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 5%;
    }

    #discordBanner h3 {
        font-size: 18px;
    }

    .clickMe {
        opacity: 0;
    }

    #divider {
        display: block;
    }
}

@media only screen and (min-width: 1024px) {
    #divider {
        display: none;
    }
}

@media only screen and (min-width: 1024px) {
    #discordBanner {
        background-size: cover;
    }
    
    #discordBanner h2 {
        font-size: 50px;
    }

    #discordBanner h3 {
        font-size: 22px;
    }

    .clickMe {
        opacity: 1;
    }
}

@media only screen and (min-width: 1440px) {
    .discordButton {
        width: 250px;
    }

    .buttonWrap {
        width: 250px;
        padding: 15px;
    }

    .buttonWrap img {
        width: 150px;
    }

    #discordBanner h2 {
        font-size: 65px;
        padding-bottom: 100px;
    }

    #discordBanner h3 {
        font-size: 26px;
    }
}

/* SW Application Page */

.GuildApply, .Login {
    width: 100%;
    height: 100%;
    background-image: url('../Images/GuildApplyBG.png');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: fixed;
    overflow: scroll;
}

.GuildApply::-webkit-scrollbar, .Login::-webkit-scrollbar {
    width: 6px;
    background-color: #1a1a1a;
}

    .GuildApply::-webkit-scrollbar-thumb, .Login::-webkit-scrollbar-thumb {
        background-color: #3eaaea;
    }

.GuildApply::-webkit-scrollbar-track, .Login::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #1a1a1a;
}       

.GuildApply h2 {
    color: white;
    font-family: 'Viga', sans-serif;
    text-transform: uppercase;
    text-shadow: 0px 5px 20px rgba(114, 137, 218, 1);
    text-align: center;
    padding-top: 50px;
}

.GuildApply h3 {
    color: white;
    font-family: 'Viga', sans-serif;
    text-shadow: 0px 5px 20px rgba(114, 137, 218, 1);
    text-align: center;
    padding-top: 20px;
}

.StandardFormBox {
    background: rgba(8,9,11,.75);
    padding: 30px;
    position: relative;
    display: block;
    margin-top: 100px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-weight: bold;
    font-family: 'Viga', sans-serif;
}

.GuildApplyFormBox {
    margin-bottom: 200px;
}

.question {
    display: block;
    width: 100%;
    clear: both;
}

.StandardFormBox input[type=text], .SideFormBox input[type=text], .StandardFormBox textarea, .StandardFormBox input[type=password] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #f0f0f0;
    border-bottom-color: hsla(0,0%,100%,.1);
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 1px;
    margin-top: 12px;
    outline: none;
    resize: none;
    width: 100%;
    color: #3eaaea;
    font-family: 'Viga', sans-serif;
    margin-bottom: 30px;
}

.GuildApplyFormBox input[type=text], .GuildApplyFormBox textarea {
    color: #fab523;
}


.StandardFormBox textarea {
    resize: none;
    overflow: hidden;
}

.submitButton {
    text-align: center;
}

.StandardFormBox input[type=submit], .SideFormBox input[type=submit] {
    width: 100%;
}

.StandardFormBox input[type=submit], .SideFormBox input[type=submit], .SWButton {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Viga', sans-serif;
    display: inline-block;
    font-size: 24px;
    text-transform: uppercase;
    line-height: normal;
    overflow: hidden;
    padding: 2% 5%;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    cursor: pointer;
    transition: background 200ms ease-in-out;
}

.StandardFormBox input[type=submit], .SideFormBox input[type=submit] {
    color: white;
    background: #3eaaea;
}

.StandardFormBox input[type=submit]:hover, .SideformBox input[type=submit]:hover {
    background-color: white;
    color: black;
}

.radio {
    position: relative;
    display: block;
    padding-left: 40px;
    margin-bottom: 12px;
    line-height: 22px;
    font-size: 18px;
    color: #fab523;
    font-family: 'Viga';
    cursor: pointer;
}

.radio:before {
    background: #fff;
    content: "";
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 22px;
    height: 21px;
    border: 1px solid #bbb;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    box-shadow: inset 0 0 3px 0 #ccc;
    -moz-box-shadow: inset 0 0 3px 0 #ccc;
    -webkit-box-shadow: inset 0 0 3px 0 #ccc;
}

.radio-choice input[type="radio"] {
    display: none;
}

.radio-choice input[type="radio"]:checked + label:before {
    content: "\2022";
    text-align: center;
    line-height: 15px;
    font-family: Tahoma;
    font-size: 27px;
    color: #fab523;
    text-shadow: 0 0 4px #bbb;
}

.radio-choice {
    float: left;
    clear: none;
    margin-right: 40px;
    margin-top: 12px;
    margin-bottom: 30px;
}

#ClassSelectList {
    width: 100%;
    margin: 20px 0;
}

#ClassSelectList input {
    display: none;
}

#ClassSelectList input:active + .CharacterClass {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

#ClassSelectList input:checked + .CharacterClass {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

.CharacterClass {
    height: 0;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: filter 100ms ease-in-out;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    font-size: 0.75rem;
    color: lightgrey;
    text-align: center;
}

.ActiveClass {
    cursor: pointer;
}

.ActiveClass:hover {
    -webkit-filter: grayscale(50%);
    -moz-filter: grayscale(50%);
    filter: grayscale(50%);
}

.InactiveClass {
    cursor: not-allowed;
}

#ClassKnight {
    background-image: url('../Images/Maplestory2/Classes/Knight.png');
}

#ClassBerserker {
    background-image: url('../Images/Maplestory2/Classes/Berserker.png');
}

#ClassArcher {
    background-image: url('../Images/Maplestory2/Classes/Archer.png');
}

#ClassAssassin {
    background-image: url('../Images/Maplestory2/Classes/Assassin.png');
}

#ClassThief {
    background-image: url('../Images/Maplestory2/Classes/Thief.png');
}

#ClassHeavyGunner {
    background-image: url('../Images/Maplestory2/Classes/HeavyGunner.png');
}

#ClassPriest {
    background-image: url('../Images/Maplestory2/Classes/Priest.png');
}

#ClassWizard {
    background-image: url('../Images/Maplestory2/Classes/Wizard.png');
}

#ClassRuneBlader {
    background-image: url('../Images/Maplestory2/Classes/RuneBlader.png');
}

#ClassStriker {
    background-image: url('../Images/Maplestory2/Classes/Striker.png');
}

#ClassSoulBinder {
    background-image: url('../Images/Maplestory2/Classes/SoulBinder.png');
}

#ApplyBunny1, #ApplyBunny2 {
    position: fixed;
    bottom: 0;
    pointer-events: none;
}

#ApplyBunny2 {
    right: 0;
}

#ApplyBunny1 {
    left: 0;
}

.slick-slide, .slick-slide * {
    outline: none !important;
}

@media only screen and (min-width: 0px) {
    #ApplyBunny1, #ApplyBunny2 {
        display: none;
    }

    .StandardFormBox {
        width: 100%;
    }

    .CharacterClass {
        width: 100%;
        padding-top: 100%;
    }

    .GuildApply h2 {
        font-size: 28px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .GuildApply h3 {
        font-size: 18px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #applyConfirmStart {
        padding-top: 20%;
    }

    #applyConfirmEnd {
        margin-bottom: 10%;
    }
}

@media only screen and (min-width: 768px) {
    #ApplyBunny1, #ApplyBunny2 {
        display: block;
        width: 65%;
    }


    .StandardFormBox {
        width: 58%;
    }


    .GuildApply h2 {
        font-size: 46px;
    }

    #applyConfirmStart {
        padding-top: 5%;
    }

    #applyConfirmEnd {
        margin-bottom: 5%;
    }
}



@media only screen and (min-width: 1440px) {
    #ApplyBunny1, #ApplyBunny2 {
        display: block;
        width: 100%;
    }

    .StandardFormBox {
        width: 40%;
    }
}


/* Main Scene */

#Scene {
    background-image: url('../Images/Scene/Background.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    height: 60vh;
    width: 100%;
    z-index: 100;
}

.Glow, .AfterImage1, .AfterImage2, .AfterImage3, .Character, .Clouds, #particles, .Static {
    width: 100%;
    height: 100%;
}

#Clouds {
    position: absolute;
    width: 130%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    left: -15%;
    right: 0;
    bottom: -15vw;
}

.Wizard, .Archer, .Gunner, .Knight {
    position: absolute;
    width: 20%;
}

.Glow img {
    width: 25%;
}

.AfterImage1 {
    opacity: 0.15;
}

.AfterImage2 {
    opacity: 0.1;
}

.AfterImage3 {
    opacity: 0.05;
}

.Wizard {
    left: 0;
    bottom: 40%;
}

.Glow .Wizard {
    left: -5vh;
    bottom: 40%;
}

.Archer {
    bottom: 0;
    right: 10vw;
}

.Glow .Archer {
    bottom: -5%;
    right: 7vw;
}

.Gunner {
    right: 0;
    bottom: 40%;
}

.Glow .Gunner {
    right: -5%;
    bottom: 35%;
}

.Knight {
    bottom: 0;
    left: 10vw;
}

#HomeParallax {
    width: 100%;
    height: 100%;
}

.TwitchHeaderContainer {
    bottom: -1px;
    left: 0;
    position: absolute;
}

#TwitchHeader {
    position: relative;
    width: 100%;
    padding: 1rem 5rem 1rem 3rem;
    color: white;
    z-index: 11;
    font-weight: bold;
}

.TwitchStream {
    height: 100%;
    width: 20%;
}

.fa-twitch {
    font-size: 0.85rem;
}

.Streams {
    height: 100%;
}

.slick-list, .slick-track {
    height: 100%;
}

.HomePageContainer {
    overflow: hidden;
}

#TwitchHeader:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: black;
    top: 0;
    left: 0;
    z-index: -1;
    transform-origin: bottom left;
    -ms-transform: skew(28deg,0deg);
    -webkit-transform: skew(28deg,0deg);
    transform: skew(28deg,0deg);
}

#TwitchSection {
    background: black;
    width: 100%;
    height: calc(40vh - 100px);
    padding-left: 3rem;
    padding-right: 3rem;
}

.Streams .slick-prev {
    left: -2.2rem;
}

.Streams .slick-next {
    right: -2.2rem;
}

#MSHeaderText, #MSHeaderText2, #MSHeaderText3 {
    font-family: 'Kaushan Script', cursive;
    text-shadow: 3px 3px black;
    color: white;
    position: absolute;
    text-align: center;
}

.SceneButtonContainer {
    left: 0;
    right: 0;
    top: 77.5%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.ButtonShadow {
    position: relative;
    display: table;
    margin-left: auto;
    border-radius: 5px;
    border: none;
    background: #8f2fa3;
    margin-right: auto;
    box-shadow: 0 0 20px #8f2fa3, 0 0 30px #8f2fa3, 0 0 40px #8f2fa3, 0 0 50px #8f2fa3, 0 0 75px #8f2fa3;
}

.SceneButtonLeft, .SceneButtonRight {
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
    min-width: 20vw;
    text-transform: uppercase;
    font-family: 'Viga';
    z-index: 150;
    pointer-events: auto;
    -webkit-font-smoothing: antialiased;
    transition: all 0.2s ease;
}

.SceneButtonLeft:hover, .SceneButtonRight:hover, .SceneButtonLeft:hover:after, .SceneButtonRight:hover:before {
    color: white;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #8f2fa3, 0 0 30px #8f2fa3, 0 0 40px #8f2fa3, 0 0 50px #8f2fa3, 0 0 75px #8f2fa3;
    background: #8f2fa3;
}

.SceneButtonLeft {
    position: relative;
    background: white;
    color: black;
    border: none;
    padding-left: 2rem;
    display: inline-block;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    cursor: pointer;
}

.SceneButtonLeft:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    background: white;
    transition: all 0.2s ease;
    transform-origin: bottom left;
    -ms-transform: skew(-28deg,0deg);
    -webkit-transform: skew(-28deg,0deg);
    transform: skew(-28deg,0deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}

.SceneButtonRight:before {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    transition: all 0.2s ease;
    left: -51px;
    z-index: -1;
    background: black;
    transform-origin: bottom left;
    -ms-transform: skew(-28deg,0deg);
    -webkit-transform: skew(-28deg,0deg);
    transform: skew(-28deg,0deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}

.SceneButtonRight {
    position: relative;
    background: black;
    color: white;
    border: none;
    margin-left: 51px;
    padding-right: 2rem;
    display: inline-block;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}


#SloganText {
    top: 60%;
    width: 90%;
    display: block;
    text-align: center;
    position: absolute;
    color: white;
    font-size: 4rem;
    font-family: 'Kaushan Script';
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #8f2fa3, 0 0 30px #8f2fa3, 0 0 40px #8f2fa3, 0 0 50px #8f2fa3, 0 0 75px #8f2fa3;
}

@media only screen and (max-width : 1024px) {
    .Wizard, .Archer, .Gunner, .Knight {
        width: auto;
        height: 40%;
    }

    #SloganText {
        top: 55%;
        width: 80%;
        font-size: 1.5rem;
        z-index: 200;
    }

    .SceneButtonContainer {
        width: 95%;
        top: 67.5%;
    }

    .SceneButtonLeft, .SceneButtonRight {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        font-size: 0.75rem;
    }


    .SceneButtonRight:before {
        left: -2.2rem;
    }

    #Scene {
        height: 50vh;
    }

    #TwitchSection {
        height: calc(50vh - 100px);
    }


}

@media only screen and (max-width : 768px) {
    .Wizard {
        left: -5%;
    }

    .Gunner {
        right: -5%;
    }
}

@media only screen and (max-width : 480px) {
    #Clouds {
        width: 300%;
        left: -65%;
        bottom: -40%;
    }

    #Scene {
        height: 45vh;
        background-image: url('../Images/Scene/BackgroundMobile.png');
    }

    .Wizard, .Archer, .Gunner, .Knight {
        height: 30%;
    }

    #TwitchSection {
        height: calc(55vh - 100px);
    }

    .Wizard {
        left: -10%;
    }

    .Knight {
        left: -2%;
        bottom: 10%;
    }

    .Archer {
        right: -2%;
        bottom: 10%;
    }

    .Gunner {
        right: -10%;
    }
}

@media only screen and (min-width: 0px) {
    #MSHeaderText, #MSHeaderText2, #MSHeaderText3 {
        font-size: 32px;
    }

    .maplestory-button-cta {
        top: 57.5%;
        width: 255px;
        height: 48px;
        padding: 15px;
        font-size: 22px;
    }

    #MS2Actor1 {
        max-width: 200%;
        height: 50%;
        margin-top: 95%;
        margin-left: -10%;
    }

    #MS2Actor2 {
        max-width: 200%;
        height: 50%;
        margin-top: -10%;
        margin-left: -5%;
    }

    #MS2Scene {
        background-position: center bottom;
    }
}

@media only screen and (min-width: 768px) {
    #MSHeaderText, #MSHeaderText2, #MSHeaderText3 {
        font-size: 62px;
    }

    .maplestory-button-cta {
        top: 70%;
        width: 455px;
        height: 68px;
        padding: 20px;
        font-size: 32px;
    }

    #MS2Actor1, #MS2Actor2 {
        max-width: 100%;
        height: auto;
        margin-top: 0;
    }

    #MS2Scene {
        background-position: right bottom;
    }
}

/*
##################
# Login/Register #
##################
*/

.StandardForm {
    background-image: url(../Images/GuildApplyBG.png);
    background-size: cover;
    background-position: top center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.StandardFormBox h3 {
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.Subtitle {
    padding: 5px 0;
    font-size: 12px;
    text-transform: uppercase;
    color: gray;
}

@media only screen and (max-width : 480px) {
    .Subtitle {
        font-size: 10px;
    }
}

.Subtitle a {
    color: #3eaaea;
}

.Subtitle a:hover {
    color: white;
}

.loginPassword {
    margin-bottom: 10px !important;
}

.remember-me {
    padding-top: 20px;
}


/*
##################
# Shared Styling #
##################
*/

.BoxHeader {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    border: 3px solid rgba(255,255,255,0.1);
    font-size: 26px;
    height: 72px;
    max-height: 72px;
    padding: 0 30px;
    display: table;
}

.ProfileName {
    font-size: 26px;
    text-align: center;
    width: 100%;
    display: block;
    margin-bottom: 2rem;
}

.BoxFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    font-size: 26px;
    border: 3px solid rgba(255,255,255,0.1);
    height: 72px;
    max-height: 72px;
    padding: 25px 30px;
}

.AdminControls {
    height: 144px;
    max-height: 144px;
}

.HeaderText, .UserControls {
    font-weight: bold;
    color: white;
}

.HeaderText {
    display: table-cell;
    vertical-align: middle;
}

.UserControls {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    border-collapse: separate;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.UserControls td {
    width: 25%;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    border-right: 1px solid transparent;
    border-radius: 5px;
    border-left: 1px solid transparent;
    vertical-align: middle;
    text-align: center;
    bottom: 0;
}

.UserControls td:last-of-type {
    border-right: none;
}
.UserControls td:first-of-type {
    border-left: none;
}

.UserControls td a {
    color: white;
}

.UserControls a:hover {
    color: #3eaaea
}

.Control {
    z-index: 15;
    position: relative;
}

.Content.WithHeader {
    padding-top: 60px;
}

.Content.WithFooter {
    padding-bottom: 60px;
}

.Content.WithAdminFooter {
    padding-bottom: 144px;
}

.Content .Header {
    font-size: 18px;
}

.ViewAll {
    padding-top: 10px;
    float: right;
    clear: both;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #1a1a1a;
}

.fa-user {
    position: relative;
    bottom: 1px;
    right: 1px;
    font-size: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #303030;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #1a1a1a;
}       

#VideoBG {
    display: none;
}

@media only screen and (min-width : 480px) {
    #VideoBG {
        display: block;
    }
}

@media only screen and (max-width : 480px) {
    .PageContainer .StandardFormBox {
        background-color: transparent;
    }
    .cd-main-content {
        -webkit-transform: translateZ(0);
    }
}

.StandardPage {
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    /* Set the height to match that of the viewport. */
    width: auto;
    padding: 0 !important;
    margin: 0 !important;
    background-color: black;
    position: fixed;
    top: 100px;
    overflow: hidden;
    pointer-events: none;
}

.PageContainer .StandardFormBox{
    margin-bottom: 50px;
}

#VideoBG {
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.StandardPageBox {
    padding: 30px;
    display: block;
    overflow: auto;
    position: relative;
    margin-bottom: 30px;
    font-size: 16px;
    color: white;
    font-family: 'Acme', sans-serif;
    border: 0.5px solid black;
}

.PageContainer {
    width: 80%;
    height: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: block;
}

.CenterPageContainer {
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 50px;
}

.ProfilePageContainer {
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 200px;
}

.blur {
    background-image: url(../Images/Background.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -moz-filter: blur(10px) brightness(15%);
    -ms-filter: blur(10px) brightness(15%);
    -o-filter: blur(10px) brightness(15%);
    -webkit-filter: blur(10px) brightness(15%);
    filter: blur(10px) brightness(15%);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    pointer-events: none;
}


.invert {
    background-image: url(../Images/Background.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 1;
    -moz-filter: blur(3px) grayscale(100%) brightness(30%) contrast(200%);
    -ms-filter: blur(3px) grayscale(100%) brightness(30%) contrast(200%);
    -o-filter: blur(3px) grayscale(100%) brightness(30%) contrast(200%);
    -webkit-filter: blur(3px) grayscale(100%) brightness(30%) contrast(200%);
    filter: blur(3px) grayscale(100%) brightness(30%) contrast(200%);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    pointer-events: none;
    z-index: 6;
}

#body {
    background-image: url(../Images/Background.jpg);
    background-color: #1a1a1a;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
    min-height: calc(100vh - 100px);
}

.Content, .HeaderText {
    z-index: 10;
    position: relative;
}

.MainContent {
    width: calc(75% - 30px);
    float: left;
}

.ProfileContent {
    width: 100%;
    float: left;
}

.SideMenu {
    width: 25%;
    margin-left: 30px;
    float: right;
    clear: right;
}

.LeftSideMenu {
    width: 25%;
    margin-right: 30px;
    float: left;
}

.StandardHeader {
    color: #3eaaea;
    font-weight: bold;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 100%;
}

.NewsHeader {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 5px;
}

.NewsEntry {
    padding-bottom: 20px;
    clear: both;
    padding-top: 10px;
}

.ProfileBox {
    padding-top: 7.5rem;
}

.NewsListImage {
    width: 48%;
    height: 17.5rem;
    background-size: cover;
    background-position: center;
    position: relative;
    float: left;
    -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
    filter: grayscale(50%);
    transition: all ease-in-out 0.5s;
    border: 1px solid white;
    margin: 0.5rem 1%;
}

.NewsListImage:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.NewsDescription {
    padding: 15px;
}

@media only screen and (max-width : 1440px) {
    .PageContainer {
        width: 95%;
    }

    .SideMenu {
        margin-left: 15px;
    }

    .LeftSideMenu {
        margin-right: 15px;
    }

    .RepliesToggle {
        clear: both;
        font-size: 14px;
    }
}

@media only screen and (max-width : 768px) {
    #body, .invert, .blur {
        background-image: none;
    }

    .PageContainer {
        width: 100%;
    }

    .MainContent {
        width: 100%;
    }

    .SideMenu, .LeftSideMenu {
        width: 100%;
        margin-left: 0;
        margin-top: 30px;
    }

    .PageContainer .StandardFormBox {
        margin-top: 50px;
    }
}


@media only screen and (max-width : 320px) {
    #body {
        background-image: none;
    }

    .PageContainer {
        width: 100%;
    }

    .StandardFormBox {
        padding: 10px;
        font-size: 12px;
    }
}

.Metadata {
    padding-top: 10px;
    clear: both;
    font-weight: bold;
}

hr {
    border-color: gray;
}

/*
###############
# Text Editor #
###############
*/

.trumbowyg-box, .trumbowyg-editor {
    border-color: rgba(255, 255, 255, 0.2);
}

.trumbowyg-editor ul, .Content ul {
    list-style-type: disc;
    padding-left: 20px;
}

.trumbowyg-editor ol, .Content ol {
    list-style-type: decimal;
    padding-left: 20px;
}

.trumbowyg-button-pane {
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.2);
}

.trumbowyg-box svg {
    fill: white;
}

.trumbowyg-editor, .trumbowyg-textarea {
    min-height: 70vh;
}

.trumbowyg-button-pane button.trumbowyg-active svg, .trumbowyg-button-pane button:not(.trumbowyg-disable):focus svg, .trumbowyg-button-pane button:not(.trumbowyg-disable):hover svg {
    fill: black;
}

.PageContainer h2 {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Viga';
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.trumbowyg-button-pane::after, .trumbowyg-button-pane .trumbowyg-button-group::after {
    background-color: rgba(255, 255, 255, 0.2);
}

.SideFormBox input[type=text] {
    color: #3eaaea;
}

.EntrySeparator {
    clear: both;
}

.Applications {
    width: 100%;
}

.Applications th {
    text-align: left;
    padding: 5px;
}

.Applications th:last-of-type {
    text-align: right;
}

.Application td {
    padding: 10px;
    vertical-align: middle;
}

.Application td:first-of-type {
    width: 60px;
}
.Application th:first-of-type {
    width: 60px;
}

.Application td:last-of-type {
    text-align: right;
}

.Content a:hover {
    color: white;
}

.led {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: #000 0 -1px 6px 1px;
    display: inline-block;
}

.led-red {
    background-color: #F00;
    box-shadow: #000 0 -1px 6px 1px, inset #600 0 -1px 8px, #F00 0 3px 11px;
}

.led-orange {
    background-color: #FF7000;
    box-shadow: #000 0 -1px 6px 1px, inset #630 0 -1px 8px, #FF7000 0 3px 11px;
}

.led-yellow {
    background-color: #FF0;
    box-shadow: #000 0 -1px 6px 1px, inset #660 0 -1px 8px, #FF0 0 3px 11px;
}

.led-green {
    background-color: #80FF00;
    box-shadow: #000 0 -1px 6px 1px, inset #460 0 -1px 8px, #80FF00 0 3px 11px;
}

.led-blue {
    background-color: #06F;
    box-shadow: #000 0 -1px 6px 1px, inset #006 0 -1px 8px, #06F 0 3px 11px;
}

.ApplicationGame {
    height: 30px;
    width: 30px;
    border: 3px solid black;
}

.IEFix {
    background-image: none;
    background-color: rgba(0,0,0,0.9);
}

.IEHeaderFix {
    background-image: none;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
}

.IEBorderFix {
    border-color: none;
    border-right-color: none;
    border: none;
    border-right: none !important;
}

#Editor {
    height: 70vh;
}

#ephox_Editor {
    margin-top: 10px;
}

.ephox-hare-content-iframe {
    background: none;
}

.ephox-polish-editor-container .ephox-polish-socket {
    background: none;
}


.fileInput {
    margin-bottom: 20px;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#featuredPreview {
    margin-top: 20px;
    margin-bottom: 10px;
}

.featuredImage {
    width: 300px;
    height: 169px;
    background-position: center;
    background-size: cover;
}

.fileButton {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background: #3eaaea;
    display: inline-block;
    padding: 10px;
    margin-bottom: 30px;
    cursor: pointer;
    max-width: 300px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.fileButton:focus + label,
.fileButton + label:hover {
    background-color: white;
    color: black;
}

.fileButtonText {
    margin-left: 5px;
    text-transform: uppercase;
    font-family: 'Viga', sans-serif;
}

.Content p {
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.NewsDescription {
    width: 100%;
    height: 25%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.form-control {
    margin-top: 12px;
}

.Category-Site {
    color: orange;
}

.Category-Announcements {
    color: cornflowerblue;
}

.Category-Events {
    color: lawngreen;
}

#Comment {
    width: 100%;
    height: 15rem;
}

.CommentButton {
    font-size: 1.25em;
    width: 100%;
    margin-top: 10px;
    margin-left: auto;
    color: white;
    margin-right: auto;
    background: #3eaaea;
    border-radius: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Viga', sans-serif;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    line-height: normal;
    overflow: hidden;
    padding: 1rem 2.5rem;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    cursor: pointer;
    transition: background 200ms ease-in-out;
}

.CommentButton:hover {
    background: white;
    color: black;
}

.ProfileButtons {
    width: calc(50% - 7.5rem - 30px);
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
}

.ProfileButton {
    font-size: 0.5rem;
    margin-left: auto;
    color: white;
    margin-right: auto;
    background: #303030;
    border-radius: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Viga', sans-serif;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    line-height: normal;
    overflow: hidden;
    padding: 0.5rem 1rem;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    cursor: pointer;
    transition: background 200ms ease-in-out;
}

.ProfileButton:hover {
    background: white;
    color: black;
}

.ProfileButton:disabled {
    background: white;
    color: black;
    cursor: default;
}

.CommentsHeader {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 3rem;
}

.Comment {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 20px 0;
}

.AvatarSection {
    float: left;
}

.RegularCommentAvatarSection {
    width: 6rem;
    padding-right: 1rem;
}

.ReplyAvatarSection {
    width: 12rem;
    padding-left: 6rem;
    padding-right: 1rem;
}

.AvatarFull {
    width: 15rem;
    height: 15rem;
    position: absolute;
    z-index: 20;
    left: 0;
    right: 0;
    margin-top: -7.5rem;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.AvatarSmall {
    width: 5rem;
    height: 5rem;
    float: right;
    box-shadow: inset 0 0 10px black;
    border: 2px solid black;
    background-size: cover;
    background-position: center;
}

.CommentHeader {
    display: inline-block;
    float: left;
    width: 100%;
    clear: both;
    margin-bottom: 20px;
}

.CommentFooter {
    display: inline-block;
    width: 100%;
    clear: both;
    margin-top: 20px;
}

.CommentAuthor {
    float: left;
}

.CommentDate {
    float: right;
    color: grey;
}

.CommentFooterMetaData {
    color: grey;
}

.CommentContent {
    float: right;
}

.CommentContentStyle {
    padding: 1rem;
    min-height: 6rem;
    position: relative;
    width: 100%;
    top: 0;
    right: 0;
    display: block;
    background-color: rgba(0,0,0,0.4);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.RegularCommentContent {
    width: calc(100% - 6rem);
}

.ReplyContent {
    width: calc(100% - 12rem);
}

.ReplyButton {
    float: right;
    cursor: pointer;
}

#ReplyCancel {
    color: #3eaaea;
    cursor: pointer;
}

#ReplyCancel:hover {
    color: white;
}

.ReplyButton:hover {
    color: #3eaaea;
}


.ReplyIcon {
    margin-right: 3px;
}

.RepliesToggle {
    float: right;
    font-size: 20px;
    margin-top: 1rem;
} 

#ReplyForm {
    margin-top: 20px;
}

#ReplyCancelCaption {
    display: none;
}

.ephox-polish-fullscreen-maximized {
    background-color: #0e1214;
}

#UserActivity {
    padding: 0;
    list-style-type: none;
}

.ActivityFeed {
    padding-bottom: 10px;
}

.ActivityFeed:last-child {
    padding-bottom: 0;
}

.ActivityMessage {
    width: calc(100% - 35px);
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1rem;
}

.ActivityImage {
    width: 25px;
    height: 25px;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid white;
}

.ApplicationQuestion {
    color: dodgerblue;
    font-weight: bold;
    font-size: 1.1rem;
}

.ApplicationAnswer {
    padding-bottom: 10px;
}

@media only screen and (max-width : 992px) {
    .AvatarSmall {
        width: 3rem;
        height: 3rem;
    }

    .RegularCommentAvatarSection {
        width: 4rem;
        padding-right: 1rem;
    }

    .ReplyAvatarSection {
        width: 8rem;
        padding-left: 4rem;
        padding-right: 1rem;
    }

    .RegularCommentContent {
        width: calc(100% - 4rem);
    }

    .ReplyContent {
        width: calc(100% - 8rem);
    }

    .NewsListImage {
        width: 47%;
        height: 15rem;
    }

    .NewsHeader {
        font-size: 14px;
    }
}

@media only screen and (max-width : 576px) {
    .AvatarSmall {
        width: 3rem;
        height: 3rem;
        margin-bottom: 2rem;
    }

    .NewsListImage {
        width: 100%;
        height: 12.5rem;
        margin-left: 0;
        margin-right: 0;
    }

    .NewsHeader {
        font-size: 14px;
        padding-bottom: 3px;
    }

    .NewsDescription {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}