﻿@using Microsoft.AspNet.Identity;
@using Euphoria.Models;

@{
    ApplicationUserManager UserManager = (ApplicationUserManager)ViewData["UserManager"];
}

<div class="StandardPageBox SideMenu">
    <div class="blur"></div>
    <div class="Content @(UserManager.IsInRole(User.Identity.GetUserId(), "Admin") ? "WithAdminFooter" : "WithFooter")">
        <div class="NewsEntry">
            <h1 class="StandardHeader">Hi @User.Identity.GetUserName()!</h1>
            <p>You have no new notifications</p>
        </div>
    </div>
    <div class="BoxFooter @(UserManager.IsInRole(User.Identity.GetUserId(), "Admin") ? "AdminControls" : "")">
        <table class="UserControls">
            <tr>
                <td><div class="invert"></div><a class="Control" title="View Your Profile" href="@Url.Action("Add", "News")"><i class='fas fa-user-circle'></i></a></td>
                <td><div class="invert"></div><a class="Control" title="Private Messages" href="@Url.Action("Add", "News")"><i class='fas fa-envelope'></i></a></td>
                <td><div class="invert"></div><a class="Control" title="View Members" href="@Url.Action("Add", "News")"><i class='fas fa-users'></i></a></td>
                <td><div class="invert"></div><a class="Control" title="Account Settings" href="@Url.Action("Add", "News")"><i class='fas fa-cog'></i></a></td>
            </tr>
            @if (UserManager.IsInRole(User.Identity.GetUserId(), "Admin"))
            {
                <tr>
                    <td><div class="invert"></div><a class="Control" title="Add News" href="@Url.Action("Add", "News")"><i class='fas fa-newspaper'></i></a></td>
                    <td><div class="invert"></div><a class="Control" title="Manage Milestones" href="@Url.Action("Add", "News")"><i class='fas fa-bookmark'></i></a></td>
                    <td><div class="invert"></div><a class="Control" title="Manage Calendar" href="@Url.Action("Add", "News")"><i class='fas fa-calendar-alt'></i></a></td>
                    <td><div class="invert"></div><a class="Control" title="View Applications" href="@Url.Action("Add", "News")"><i class='fas fa-clipboard-list'></i></a></td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="StandardPageBox SideMenu">
    <div class="blur"></div>
    <div class="BoxHeader"><div class="invert"></div><div class="HeaderText">Activity</div></div>
    <div class="Content WithHeader">
        <ul id="UserActivity"></ul>
    </div>
</div>
<script src="~/signalr/hubs"></script>
<script>
    $(function () {
        // Reference the auto-generated proxy for the hub.  
        var activity = $.connection.feed;
        // Create a function that the hub can call back to display messages.
        activity.client.addNewMessageToPage = function (img, message) {
            // Add the message to the page. 
            $('#UserActivity').prepend($('<li class="ActivityFeed"><div class="ActivityImage" style="background-image: url(/' + img + ')"></div><div class="ActivityMessage">' + message + '</div></li>').hide().fadeIn('slow'));
            if ($('ul#UserActivity li').length > 10) {
                $('#UserActivity li:last-child').fadeOut('slow', function () {
                    $(this).remove();
                });
            }
        };
        // Start the connection.
        $.connection.hub.start().done(function () {

        });
    });
</script>