﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Euphoria</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Scripts/resources/css/textboxio.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/slick/slick-theme.css" />
    <link href="~/Content/loftloader.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="~/Scripts/loftloader.min.js"></script>
    <script src="https://unpkg.com/tippy.js@2.5.2/dist/tippy.all.min.js"></script>
    <script type="text/javascript" src="~/Scripts/slick/slick.min.js"></script>
    <script src="~/Scripts/main.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <meta property="og:type" content="website">
    <meta property="og:title" content="@ViewBag.Title - Euphoria" />
    <meta property="og:site_name" content="Euphoria" />
    <meta property="og:description" content="Euphoria is a hardcore gaming community that brings together players from games such as MapleStory 2, Fortnite, League of Legends, World of Warcraft, and more." />
    <meta property="og:url" content="@Request.Url.AbsoluteUri" />
    <meta property="og:image" content="https://euphoria.gg/Images/EuphoriaLogo.jpg" />
</head>
<body>
    <header>
        <a id="cd-logo" href="~/"><img src="~/Images/logo.png" alt="Homepage"> <br />EUPHORIA</a>
        <nav id="cd-top-nav">
            @if (User.Identity.IsAuthenticated)
            {
                <ul>
                    <li>
                        <a href="@Url.Action("Manage", "Account")">
                            <i class='fas fa-user'></i> @User.Identity.GetUserName()
                        </a>
                </ul>
            }
            else
            {
                <ul>
                    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li>@Html.ActionLink("Log In", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                </ul>
            }
        </nav>
        <a id="cd-menu-trigger" href="#0"><span class="cd-menu-text">Menu</span><span class="cd-menu-icon"></span></a>
    </header>
    <div id="loader-wrapper"></div>
    <script>
        (function ($) {
            $('#loader-wrapper').loftloader({
                bg_type: 'solid',
                bg_color: '#000000',
                bg_opacity: 1,
                bg_animation: 'up',
                loader_type: 'beating',
                loader_color: '#ffffff',
                progress_type: 'bar',
                progress_bar_position: 'bottom',
                progress_bar_width: '100vw',
                progress_bar_height: '5px',
                progress_color: '#ffffff',
                message_text: '',
                load_time: 3,
                device: 'all'
            });
        })(jQuery);
    </script>
    <main class="cd-main-content">

        <div id="body">
            @RenderSection("page", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
    </main> <!-- cd-main-content -->
    <nav id="cd-lateral-nav">
        <ul class="cd-navigation">
            <li class="item-has-children">
                <a href="#0">Games</a>
                <ul class="sub-menu">
                    <li><a href="#0">SoulWorker</a></li>
                    <li><a href="#0">MapleStory 2</a></li>
                </ul>
            </li> <!-- item-has-children -->
        </ul> <!-- cd-navigation -->
        <ul class="cd-navigation cd-single-item-wrapper">
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                    <li>@Html.ActionLink("Manage Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
                }
            }
            else
            {
                <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                <li>@Html.ActionLink("Log In", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            }
        </ul> <!-- cd-single-item-wrapper -->
        <ul class="cd-navigation cd-single-item-wrapper">
            <li><a href="#0">News</a></li>
            <li><a href="#0">Contact</a></li>
            <li><a href="#0">Discord</a></li>
        </ul> <!-- cd-single-item-wrapper -->
        <!--<div class="cd-navigation socials">
            <a class="cd-twitter cd-img-replace" href="#0">Twitter</a>
            <a class="cd-github cd-img-replace" href="#0">Git Hub</a>
            <a class="cd-facebook cd-img-replace" href="#0">Facebook</a>
            <a class="cd-google cd-img-replace" href="#0">Google Plus</a>
        </div>-->
        <footer>
            <ul>
                <li>&copy; @DateTime.Now.Year - Euphoria</li>
            </ul>
        </footer>
    </nav>
    @RenderSection("scripts", required: false)
</body>
</html>