﻿@model Euphoria.Models.NewsViewModel
@using Euphoria.Models

@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    ViewBag.Title = "New Article";
    ApplicationUserManager UserManager = (ApplicationUserManager)ViewData["UserManager"];
}

@section page {
    <div class="PageContainer">
    @using (Html.BeginForm("Add", "News", FormMethod.Post, new { role = "form", encType = "multipart/form-data" }))
    {
        @AntiForgery.GetHtml()
        <div class="StandardPageBox MainContent">
            <div class="blur"></div>
            <div class="BoxHeader"><div class="invert"></div><div class="HeaderText">Add News</div></div>
            <div class="Content WithHeader">
                <h1 class="Header">Content</h1>
                @Html.TextAreaFor(m => m.Content, new { id = "Editor" })
            </div>
        </div>
        <div class="StandardPageBox SideMenu">
            <div class="blur"></div>
            <div class="Content SideFormBox">
                <div class="question">
                    <h1 class="Header">Article Title</h1>
                    @Html.TextBoxFor(m => m.Title)
                </div>
                <div class="question">
                    <h1 class="Header">Featured Image</h1>
                    @Html.ValidationMessageFor(m => m.FeaturedImage)
                    <div class="featuredImage" id="featuredPreview" style="background-image: url('/Images/blank.jpg')"></div>
                    @Html.TextBoxFor(m => m.FeaturedImage, new { type = "file", id = "featuredInput", @class = "fileInput", name="FeaturedImage" })
                    <label for="featuredInput" class="fileButton">
                        <i class="fas fa-upload"></i> <span class="fileButtonText">Upload Image</span>
                    </label>
                </div>
                <div class="question">
                    <h1 class="Header">Category</h1>
                    @Html.DropDownListFor(m => m.Category, new SelectList(new List<string> {"Announcements", "Events", "Site Updates"}), "Select a Category", new { @class = "form-control" })
                </div>
                <div class="question submitButton">
                    <input type="submit" value="Create Article" class="SubmitButton" />
                </div>
            </div>
        </div>
    }
    </div>
}

@section scripts {
    <script src="~/Scripts/textboxio.js"></script>
    <script>
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#featuredPreview').css("background-image", "url('" + e.target.result + "')");
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $(document).ready(function () {
            var config = {
                css: {
                    documentStyles: 'body { color: white; }',
                    styles: [
                        { rule: 'p' },
                        { rule: 'h1.Header', text: 'Header' }
                    ],
                    showDocumentStyles: true
                }
            };
            var textareaEditor = textboxio.replace('#Editor', config);
            $("#featuredInput").change(function () {
                readURL(this);
            });
            $('.fileInput').each(function () {
                var $input = $(this),
                    $label = $input.next('label'),
                    labelVal = $label.html();

                $input.on('change', function (e) {
                    var fileName = '';

                    if (this.files && this.files.length > 1)
                        fileName = (this.getAttribute('data-multiple-caption') || '').replace('{count}', this.files.length);
                    else if (e.target.value)
                        fileName = e.target.value.split('\\').pop();

                    if (fileName)
                        $label.find('span').html(fileName);
                    else
                        $label.html(labelVal);
                });

                // Firefox bug fix
                $input
                    .on('focus', function () { $input.addClass('has-focus'); })
                    .on('blur', function () { $input.removeClass('has-focus'); });
            });
        });
    </script>
}