﻿@using Microsoft.AspNet.Identity;
@using Euphoria.Models;
@model IEnumerable<Euphoria.Models.NewsViewModel>
@foreach (var item in Model)
{
    <a href="~/News/View/@item.ArticleID">
        <div class="NewsListImage" style="background-image: url('@(String.IsNullOrEmpty(item.FeaturedImagePath) ? "~/Images/blank.jpg" : item.FeaturedImagePath)')">
            <div class="NewsDescription">
                <h1 class="NewsHeader">@Html.DisplayFor(modelItem => item.Title)</h1>
                <span class="Subtitle">
                    <span class="Category-@item.Category">@item.Category</span> | <time class="timeago" datetime="@item.Published.ToLocalTime()">@item.Published.ToLocalTime().ToString("MMMM dd, yyyy")
                    </time>
                </span>
            </div>
        </div>
    </a>
}