﻿@using Microsoft.AspNet.Identity;
@using Euphoria.Models;
@model IEnumerable<Euphoria.Models.ApplicationsViewModel>

@if (Model.Any())
{
    <div class="StandardPageBox SideMenu">
        <div class="blur"></div>
        <div class="BoxHeader"><div class="invert"></div><div class="HeaderText">Applications</div></div>
        <div class="Content WithHeader">
            <table class="Applications">
                @foreach (var item in Model)
                {
                    <tr class="Application">
                        <td>
                            @if (item.Game == "SoulWorker")
                            {
                                <img src="~/Images/SW.jpg" title="@item.Game" class="ApplicationGame" />
                            }
                            else if (item.Game == "MapleStory 2")
                            {
                                <img src="~/Images/MS2.jpg" title="@item.Game" class="ApplicationGame" />
                            }
                        </td>
                        <td>
                            <a href="@Url.Action("View", "Applications", new { id = item.ApplicationID })">@Html.DisplayFor(modelItem => item.CharacterName)</a>
                        </td>
                        <td>
                            <span class="Subtitle"><time class="timeago" datetime="@item.ApplicationDate.ToLocalTime()">@item.ApplicationDate.ToLocalTime().ToString("MM/dd/yyyy")</time></span>
                            @*@if (item.Status == "Pending")
                                {
                                    <div class="led led-yellow" title="Pending"></div>
                                }
                                else if (item.Status == "Approved")
                                {
                                    <div class="led led-green" title="Approved"></div>
                                }
                                else if (item.Status == "Rejected")
                                {
                                    <div class="led led-red" title="Rejected"></div>
                                }*@
                        </td>
                    </tr>
                }
            </table>
            <a class="ViewAll" href="~/Applications">View All Applications »</a>
        </div>
    </div>
    <script>
        tippy('.ApplicationGame', {
            arrow: true,
            placement: 'right'
        });
    </script>
}